<h2>{{title}}</h2>

<div *ngIf="selectedHero">
    <h3>{{selectedHero.name}} is the best hero!</h3>

    <div>
        <label>Change hero name: </label>
        <input [(ngModel)]="selectedHero.name" placeholder="name">
    </div>
</div>

<input type="checkbox" id="showheroes" [(ngModel)]="showheroes">
<label for="showheroes">Show Heroes</label>

<ul *ngIf="showheroes">
    Select the best hero:
    <li class="hero" *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)=onSelect(hero)>
    <b>{{hero.id}}</b> {{hero.name}}</li>
</ul>

<div class="bordered">
    <b>@Input, @Output, EventEmitter examples:</b>
    <p>{{num}}</p>
    <input type="text"[(ngModel)]="num">
    <tmp-cmp [startedNumber]="num" (triggeredupdate)="updateNum($event)"></tmp-cmp>
</div>
